/* === google fonts === */

/* === variable css === */
:root {
  --header: 3.5rem;

  /* warna */
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /* font */
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* responsive typography */
  @media screen and (min-width: 1152px) {
    :root {
      --biggest-font-size: 5.5rem;
      --h1-font-size: 2.5rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
}

/* === base === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

i {
  color: white;
}

/* === HOME === */
.home {
  position: relative;
}

.homebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8) blur(5px); /* add blur effect with darker tone */
  cursor: grab; /* add a grabbing cursor */
  transform: translateX(0); /* add a transform property */
  transition: transform 0.5s; /* add a transition effect */
}

.homebg:active {
  cursor: grabbing; /* change the cursor to grabbing when active */
}

.homebg:hover {
  transform: translateX(10px); /* move the image 10px to the right on hover */
}

.homebg:hover:hover {
  transform: translateX(-10px); /* move the image 10px to the left on hover */
}

.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 58%,
    hsl(0, 0%, 0%) 78%
  );
}

.home-container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.home-data {
  text-align: center;
}

.home-subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.home-title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home-description {
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home-card {
  flex: 0 0 240px;
  margin: 0.3rem;
  cursor: grab;
  transform: translateX(0);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 240px;
  /* /added/ */
  -webkit-transform: translateX();
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
}

.home-cards {
  position: absolute;
  top: 95%;
  left: 45%;
  transform: translate(-50%, -50%);
  max-width: calc(4 * 240px + 1rem);
  overflow-x: auto;
  margin-top: 50px;
}

.home-cards::-webkit-scrollbar {
  display: none; /* hide scrollbar in Chrome and Safari */
}

.home-cards {
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

.home-card {
  transition: filter 0.3s, transform 0.3s; /* add smooth transition effects */
}

.home-card:hover {
  transform: translateX(10px); /* move the card 10px to the right on hover */
  filter: none; /* remove blur filter on hover */
}

.home-card:hover ~ .home-card,
.home-card:hover + .home-card {
  filter: blur(
    1px
  ); /* blur all other cards on hover, including those on the right side */
  -webkit-filter: blur(1px);
}

.home-card:not(:hover) {
  filter: none; /* remove blur filter when not hovering */
}
.home-card-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* tulisan masuk ke dalam gambar */
.home-card-title {
  position: absolute;
  left: 0.9rem;
  bottom: 0.9rem;
  font-size: var(--h3-font-size);
  z-index: 3;
}

.home-card:hover .home-card-img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/* === reusable css classes === */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* for animation ScrollReveal*/
}

/* === header & nav === */
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.back-video {
  position: absolute;
  left: -5rem;
  bottom: -15rem;
  z-index: -1;
}

.nav {
  height: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav-logo {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
} */

.nav-toggle,
.nav-close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 1rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* for safari */
    transition: top 0.4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  row-gap: 2.5rem;
  justify-content: space-around;
}

.nav-link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 70%;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show Menu */
.show-menu {
  top: 0;
}

/* add blur to header */
.blur-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link::after {
  width: 70%;
}

/* === HOME === */
.home {
  position: relative;
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
}

.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 58%,
    hsl(0, 0%, 0%) 78%
  );
}

.home-container {
  position: relative;
  margin-top: -5.2rem;
  row-gap: 3rem;
}

.home-data {
  text-align: center;
}

.home-subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.home-title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home-description {
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home-cards {
  grid-template-columns: 400px;
  justify-content: center;
  margin-top: -5rem;
  margin-left: 5rem;
}

.home-card {
  position: relative;
  overflow: hidden;
}

.home-card-img {
  transition: transform 0.4s;
  width: 100%; /* make image width 100% of its parent */
  aspect-ratio: 3/2; /* set aspect ratio to 3:2 */
  object-fit: cover; /* make image cover the entire parent container */
}

.home-card-shadow {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
}

/* tulisan masuk ke dalam gambar */
.home-card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}

.home-card:hover .home-card-img {
  transform: scale(1.2);
}

/* button */
.button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}

.button:hover i {
  transform: translateX(0.25rem);
}

/* === ABOUT === */

.about-container {
  row-gap: 3rem;
}

.about-data {
  text-align: center;
}

.about-description {
  margin-bottom: 2rem;
}

.about-image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.about-img {
  transition: transform 0.4s;
  width: 100%; /* make image width 100% of its parent */
  height: 0; /* set height to 0 to allow aspect-ratio to work */
  padding-bottom: 66.67%; /* set padding-bottom to maintain 3:2 aspect ratio */
  object-fit: cover; /* make image cover the entire parent container */
}

.about-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
}

.about-image:hover .about-img {
  transform: scale(1.2);
}

.popular {
  margin-top: 10rem;
}

.popular2{
  margin-top: -2rem;
}
/* === POPULAR === */
.deskripsi {
  font-size: var(--normal-font-size);
  margin-top: 15px;
  width: 60rem;
  margin-left: 12.5rem;
}

.deskripsi2{
  width: 70rem;
  margin-left: 7rem;
}

.popular-container {
  padding-top: 1rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.popular-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.popular-img {
  transition: transform 0.4s;
  width: 400px;
  height: 200px;
}

.popular-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
}

.popular-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.popular-location {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}

.popular-location i {
  font-size: 1rem;
}

.popular-image:hover .popular-img {
  transform: scale(1.2);
}

/* === EXPLORE === */
.explore {
  position: relative;
}

.explore-image {
  position: absolute;
  overflow: hidden;
}

.explore-img {
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}

.explore-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 0%) 5%,
    hsla(0, 0%, 0%, 0) 40%,
    hsla(0, 0%, 0%, 0) 60%,
    hsl(0, 0%, 0%) 92%
  );
}

.explore-content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore-user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.explore-profil {
  width: 30px;
  border-radius: 50%;
}

.explore-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/* === JOIN === */
.join-container {
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.join-data {
  text-align: center;
}

.join-description {
  margin-bottom: 2rem;
}

.join-form {
  display: grid;
  row-gap: 1rem;
}

.join-input {
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
}

.join-btn {
  cursor: pointer;
}

.join-image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.join-img {
  width: 300px;
  transition: transform 0.4s;
}

.join-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
}

.join-image:hover .join-img {
  transform: scale(1.2);
}

/* === FOOTER === */
.footer {
  padding-block: 2.5rem;
  background-color: var(--container-color);
}

.footer-content {
  row-gap: 3.5rem;
  margin-top: 15px;
}

.footer-logo {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer-data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer-links {
  display: grid;
  row-gap: 0.75rem;
}

.footer-link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer-link:hover {
  color: var(--title-color);
}

.footer-group,
.footer-social {
  display: flex;
}

.footer-group {
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer-social {
  column-gap: 1.5rem;
}

.footer-social-link {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color 0.4s, transform 0.4s;
}

.footer-social-link:hover {
  color: var(--title-color);
  transform: translateY(-0.25rem);
}

.footer-copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}

/* === SCROLL BAR === */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}

/* === SCROLL UP === */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* show scroll up */
.show-scroll {
  bottom: 3rem;
}

/* === BREAKPOINTS === */
/* for small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .footer-data {
    grid-template-columns: max-content;
  }
}

/* for medium devices */
@media screen and (min-width: 576px) {
  .home-container,
  .about-container,
  .explore-content,
  .join-container {
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer-data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home-cards {
    grid-template-columns: repeat(2, 240px);
  }

  .about-container,
  .join-container {
    grid-template-columns: repeat(2, 350px);
  }

  .about-data,
  .about-data .section-title,
  .join-data,
  .join-data .section-title {
    text-align: initial;
  }

  .popular-container {
    grid-template-columns: repeat(2, 240px);
  }

  .explore-img {
    width: 100vw;
  }

  .join-image {
    order: -1;
  }

  .footer-content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer-group {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-copy {
    order: -1;
  }
}

/* for large devices */
@media screen and (min-width: 1023px) {
  .nav-close,
  .nav-toggle {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 4rem;
    justify-content: space-around;
  }

  .popular-container {
    grid-template-columns: repeat(3, 240px);
  }

  .footer-data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 3rem;
  }

  .nav {
    justify-content: center;
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /* for safari */
  }

  .home-container {
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
  }
  .home-shadow {
    height: 980px;
  }
  .home-data {
    text-align: initial;
    width: 480px;
  }
  .home-subtitle {
    font-size: var(--h2-font-size);
  }
  .home-description {
    margin-bottom: 2.5rem;
  }
  .home-cards {
    grid-template-columns: repeat(4, 260px);
  }
  .home-card-title {
    left: 1.5rem;
    bottom: 1.5rem;
  }

  .button {
    column-gap: 1.5rem;
  }

  .about-container {
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }
  .about-description {
    margin-bottom: 3rem;
  }
  .about-img {
    width: 460px;
  }

  .popular-container {
    grid-template-columns: repeat(3, 300px);
    column-gap: 3rem;
    padding-top: 4rem;
  }
  .popular-title {
    font-size: var(--h2-font-size);
  }
  .popular-location {
    font-size: var(--normal-font-size);
  }

  .explore-img {
    height: 600px;
  }
  .explore-content {
    padding-top: 28rem;
    grid-template-columns: 670px 1fr;
  }
  .explore-data,
  .explore-data .section-title {
    text-align: initial;
  }
  .explore-user {
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }

  .join-container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }
  .join-img {
    width: 460px;
  }
  .join-description {
    margin-bottom: 3rem;
  }

  .footer {
    padding-block: 5rem 3rem;
  }
  .footer-title {
    margin-bottom: 1.5rem;
  }
  .footer-group {
    margin-top: 7rem;
  }
  .footer-social {
    column-gap: 2rem;
  }
  .footer-social-link {
    font-size: 1.5rem;
  }

  .scrollup {
    right: 3rem;
  }
}
